{% extends 'base.html' %}

{% block title %}
	NAJOT TA'LIM
{% endblock %}

{% block content %}
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://avatars.mds.yandex.net/i?id=3064a2440e2ab9f2f48e93567bd77797-4285843-images-thumbs&n=13" alt="Najot_Ta'lim" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://avatars.mds.yandex.net/get-altay/5098810/2a00000182688d826c14b4b0ae1eaafd9451/XXL_height" alt="Najot_Ta'lim" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://i.ytimg.com/vi/Ys-4lMOPpjI/maxresdefault.jpg" alt="Najot_ta'lim" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<div class="container">
    <div class="text_header">
        <h1>Najot Ta'lim O'quv Markazi: O'z Raqamli Mavqeyini Yaratish</h1>
    </div>
    <div class="text_description">
        <p>Najot Ta'lim O'quv Markazi, O'zbekistondagi o'quv jarayonlariga innovatsion yondashuvlar kiritish</p>
        <p>uchun yangi o'quv markazidir. Bu markaz o'quvchilarga innovatsion metodlar, soha bo'yicha </p>
        <p>kurslar va yangi texnologiyalar orqali qisqa vaqt ichida o'zlarini rivojlantirish imkoniyatini beradi.</p>
        <br>
        <h3>
            <p>Markazning veb sayti, bu o'quvchilarga va o'quvchilar ota-onalariga qulayliklar va ma'lumotlarga </p>
            <p>yaqinroq qilishga yordam beradi. Veb sayt quyidagi bo'limlarga ega bo'lishi mumkin</p>
        </h3>
    </div>
    <div class="text_url"><a href="https://najottalim.uz/">Batafsil</a></div>
</div>
{% endblock %}