{% extends 'base.html' %}

{% block title %}
    Confirm Delete
{% endblock %}

{% block content %}
  <h1>Are you sure you want to delete?</h1>
  <p>This action cannot be undone.</p>

  <p>Item details:</p>
  <ul>
    <li>Name:{{ theme.title }} </li>
    <li>Description:{{ theme.description1 }}</li>
    <li>Image:{{ theme.image }}</li>
    </ul>

  <form action="{% url 'delete_theme' theme.pk %}" method="post">
    {% csrf_token %}
      {% if theme.title %}
      	<button type="submit" class="btn btn-danger">Delete</button>
      {% else %}
          <a href="{% url 'themes_list' %}" class="btn btn-secondary">Cancel</a>
      {% endif %}
  </form>
{% endblock %}
